/* Index */
.admin-index-row {
  margin: 3rem auto;
  text-align: center;
  font-size: 1.5rem;
}

.admin-index-col {
  margin: 1.5rem auto;
}

.admin-index-col > a {
  color: inherit;
}

/* Upload */
.admin-upload-form {
  margin: 10px 0 20px;
  align-items: center;
  align-content: center;
}

.admin-upload-submit-btn {
  width: 100%;
  margin: 0 auto;
  height: 2.5rem;
}

.admin-upload-img-btn {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
  background-color: lightgray;
}

.admin-upload-thumbnail-btn {
  display: block;
  margin: 1rem auto;
  width: 100%;
  height: 2.5rem;
}

.admin-upload-category-select {
  width: 100%;
  margin: 1rem auto;
}

.admin-upload-img-preview-div {
  display: block;
  margin: 1rem auto;
  width: 20rem;
}

.admin-upload-img-preview {
  display: block;
  margin: 0 auto;
  width: 20rem;
}

.admin-upload-img-delete-btn-div {
  width: 20rem;
}

.admin-upload-img-delete-btn {
  float: right;
  margin-bottom: 1.5rem;
}

/* Category */
.admin-category-new-input {
  width: 78px;
}

@media only screen and (min-width: 600px) {
  .admin-upload-title-input {
    display: flex;
    margin: 0 auto;
    width: 35rem;
  }
  .admin-upload-title-preview {
    margin: 1.5rem auto;
    width: 35rem;
  }
  .admin-upload-category-select {
    display: block;
    width: 35rem;
    margin: 2rem auto;
  }
  .admin-upload-submit-btn {
    display: block;
    width: 35rem;
    margin: 0 auto;
  }

  .admin-upload-thumbnail-btn {
    display: block;
    width: 35rem;
    margin: 1rem auto;
  }

  .admin-upload-img-preview-div {
    display: block;
    margin: 2rem auto;
    width: 40rem;
  }

  .admin-upload-img-preview {
    display: block;
    margin: 0 auto;
    width: 40rem;
  }

  .admin-upload-img-delete-btn-div {
    float: right;
  }

  .admin-upload-img-delete-btn {
    margin-bottom: 1.5rem;
  }
}