/* AppLayout */
.applayout {
  background-color: white;
}

.applayout-header {
  background-color: white;
  padding: 0 10px;
}

.applayout-nav-kfunny-main-logo {
  height: 2rem;
}

.applayout-content {
  padding: 0 10px;
  margin-bottom: 5rem;
}

.applayout-footer {
  color: #d3d3d3;
  font-weight: bold;
  text-align: center;
  background-color: white;
  padding: 0 10px;
  margin-bottom: 5rem;
}

.applayout-footer > a {
  color: inherit;
}

/* HomeCardForm */
.home-card-form {
  margin: 1rem auto;
}

/* LoginForm */
.login-form {
  padding: 10px;
  margin: 2rem auto 0;
  width: 100%;
}

.login-form-button-group {
  margin: 10px auto;
  float: right;
}


/* SignupForm */
.signup-form {
  padding: 10px;
  margin: 2rem auto 0;
  width: 100%;
}

.signup-form-button-group {
  margin: 1rem auto;
  float: right;
}

/* UserProfile */

.user-profile-logout-btn {
  float: right;
}

.user-profile-card,
.user-profile-edit-form {
  margin: 1rem auto;
}

.user-profile-edit-input {
  margin: 0.5rem auto;
}

/* HomeCardForm */
.home-card-form-date {
  float: right;
  color: lightgray;
}

/* ArticleCardForm */

.article-image-title {
  font-size: 1.5rem;
  margin: 1rem auto;
}
.article-image-div {
  margin: 0 auto;
  display: block;
}

.article-share-btn-div {
  float: right;
}

.article-date {
  color: lightgray;
  float: left;
  margin-bottom: 1rem;
}

.article-comment-list-div {
  max-height: 30rem;
  overflow-y: auto;
}

.article-go-to-ktest-banner {
  width: 100%;
}

/* ArticleCardForm-AD COVER */

.article-adCover-image-div {
  margin: 0 auto;
  position: relative;
  height: 13rem;
  overflow-y: hidden;
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
}

.article-adCover-div-1 {
  position: relative;
  background-color: rgba(255,255,255,0.4);
  height: 3rem;
  top: -3rem;
}

.article-adCover-div-2 {
  position: relative;
  height: 13rem;
  width: 15rem;
  height: 3rem;
  margin: 0 auto;
  top: 0.5rem;
}

.article-adCover-coupang-comment {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 0.7rem;
}

/* ArticleNewsForm */

.article-news-form-title {
  font-weight: bold;
}

.article-news-form-card {
  width: 50%;
  float: left;
  height: 18rem;
}

.article-news-form-cover-div {
  overflow: hidden;
  height: 12rem;
}

.article-news-form-cover-img {
  width: 100%;
  height: 100%;
}

/* CommentForm */
.comment-form-submit-btn {
  margin-top: 2rem;
  float: right;
}

/* 404 */
.main-404-div {
  width: 15rem;
  margin: 10rem auto;
  text-align: center;
}

.main-404-button {
  margin: 1rem auto;
  height: 5rem;
  width: 13rem;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  .home-card-form {
    width: 47.5%;
    float: left;
    margin: 0.5rem 1%;
  }
  .login-form {
    width: 30rem;
  }
  .user-profile-card,
  .user-profile-edit-form,
  .signup-form {
    width: 30rem;
    margin: 1rem auto;
  }

  .article-info-div {
    width: 30rem;
    margin: 0 auto;
  }

  .article-image-title {
    font-size: 2.5rem;
    width: 30rem;
    margin: 1rem auto;
  }
  .article-image-div {
    width: 30rem;
    margin: 0 auto;
  }
  .article-text {
    width: 30rem;
    margin: 1rem auto;
  }
  .article-adCover-image-div {
    width: 30rem;
  }

  .article-share-btn-div {
    float: right;
    margin: 0 auto;
    cursor: pointer;
  }

  .article-date {
    color: lightgray;
  }

  .article-go-to-ktest-banner {
    width: 30rem;
    margin: 0 -5.2rem;
  }

  .article-comment-list-div {
    width: 30rem;
    margin: 0 auto;
    max-height: 30rem;
    overflow-y: auto;
  }

  .article-news-form-div {
    width: 35rem;
    margin: 0 auto;
  }

  .article-news-form-card {
    width: 15rem;
    margin: 0.5rem 1.25rem;
  }

  .comment-form {
    width: 30rem;
    margin: 0 auto;
  }
}
